{% extends "ggapi/base.html" %}
{% block content %}
	<table style="width:450px;margin:0px auto;">
		<tbody>
			{% for key,value in data.Starcraft.items %}
				<tr>
					<td>{{key}}</td>
					{% if key == "Decals" %}
						<td>
						{% for decal in value %}
							<div style="{{decal.style}}; float:left;clear:none;margin-right:5px;" title="{{decal.type}}"></div>
						{% endfor %}
						</td>
					{% else %}
					{% if key == "Recent Achievements" %}
						<td>
						{% for achievement in value %}
							<div style="{{achievement.style}}; float:left;clear:none;margin:3px;"></div>
						{% endfor %}
						</td>
					{% else %}
					{% if key == "Games Won" %}
						<td>
							<div>Custom Games: {{value.custom_games}}</div>
							<div>FFA: {{value.ffa}}</div>
							<div>Co-Op vs AI: {{value.coop_vs_ai}}</div>
						</td>
					{% else %}
						<td>{{value}}</td>
					{% endif %}
					{% endif %}
					{% endif %}
				<tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
