{% extends "ggapi/base.html" %}
{% block content %}
	<h1 style="text-align:center;">Steam data:</h1>
	<table style="width:450px;margin:0px auto;">
		<tbody>
			{% for key,value in data.Steam.items %}
				<tr>
					<td>{{key}}</td>
					<td>
						<div>
							<div>Hours played: {{value.Hours.0}}</div>
							<div>Achievements: {{value.Achievements}}</div>
							{% if key == "Team Fortress 2" %}
							<div>Personal Records: {{value.Personal_Records}}</div>
							<div>TF2 Achievements: {{value.TF2_Achievements}}</div>
							<div>Class Achievements: {{value.Class_Achievements}}</div>
							{% endif %}
						</div>
					</td>
				<tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
